%h2= t '.title'
= form_for(@competition_result) do |f|
  - if @competition_result.errors.any?
    #error_explanation.alert.alert-danger
      %h2= @competition_result.errors.count.to_s + "件のエラーがあります。"
      %ul
      - @competition_result.errors.full_messages.each do |msg|
        %li = msg
  %br/
  .field
    %h4= f.label :"#{t '.competition_day'}"
    = raw sprintf(f.date_select(:day, {start_year: Time.now.year - 1,end_year: Time.now.year, order: [ :year, :month, :day ], use_month_numbers: true, date_separator:    '%s'}, {class: "form-control input-lg bootstrap-dt"}),'年 ', '月 ') + '日'
  .field
    %h4= f.label :"#{t '.competition_name'}"
    = f.text_field :competition_name, class: "form-control input-lg"
  .field
    %h4= f.label :"#{t '.place'}"
    = f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {}, class: "form-control input-lg bootstrap-dhw"
  .field
    %h4= f.label :"#{t '.run_distance'}"
    = f.text_field :distance, placeholder: "km", class: "form-control input-lg bootstrap-dhw"
  .field
    %h4= f.label :"#{t '.run_time'}"
    = f.number_field :hour, class: "form-control input-lg bootstrap-dt", placeholder: "時間", min:0
    時間
    \#{f.number_field :minute, class: "form-control input-lg bootstrap-dt", placeholder: "分",min: 0 ,max: 60}分
    \#{f.number_field :second, class: "form-control input-lg bootstrap-dt", placeholder: "秒",min: 0 ,max: 60}秒
  .field
    %h4= f.label :"#{t '.heart_rate'}"
    = f.number_field :heart_rate, class: "form-control input-lg bootstrap-dhw"
  .field
    %h4= f.label :"#{t '.competition_content'}"
    = f.text_area :content, rows: "5", class: "form-control input-lg"
  .field
    %h4= f.label :"#{t '.competition_photo'}"
    = f.file_field :avatar
    = f.hidden_field :avatar_cache
  .field
    %h4= f.label :"#{t '.competition_point'}"
    = f.number_field :competition_point, class: "form-control input-lg bootstrap-dhw", placeholder: "点数", min: 0, max: 100
  .field
    %h4= f.label :"#{t '.competition_memo'}"
    = f.text_area :competition_memo, rows: "3", class: "form-control input-lg"
  .button-field
    = f.submit "#{t '.title'}", class: "btn btn-lg btn-block bootstrap-sb"
