- if controller_name != 'sessions'
  = link_to "#{t '.login'}", new_session_path(resource_name), class: "btn btn-default btn-block fl_li"
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "#{t '.sign_up'}", new_user_registration_path, class: "btn btn-default btn-block fl_gh"
  %br/
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "#{t '.resend_confirmation_instructions'}", new_confirmation_path(resource_name),class: "btn btn-default  btn-block"
  %br/
= link_to "#{t '.twitter_login'}", user_twitter_omniauth_authorize_path, class: " btn btn-block fl_tw2 fa fa-twitter"
= link_to "#{t '.facebook_login'}", user_facebook_omniauth_authorize_path, class: " btn btn-block fl_fb2 fa fa-facebook "
= link_to "#{t '.google_login'}", user_google_omniauth_authorize_path, class: " btn btn-block fl_go2 fa fa-google "
= link_to "#{t '.instagram_login'}", user_instagram_omniauth_authorize_path, class: " btn btn-block fl_ig2 fa fa-instagram "
