%h2= current_user.name + 'さんのページ'
%h3= t '.run_level'
%h3= t '.run_experience'
%h3= t '.get_item_list'
%h3= t '.run_friends_list'
- @users.each do |user|
  - if current_user.follow?(user)
    = user.name
    = user.avatar
%h3= t '.best_time_list'
%table.common-table
  %tr
    %th= t '.best_time_5'
    %th= t '.best_time_10'
    %th= t '.best_time_21'
    %th= t '.best_time_42'
    %th= t '.best_time_100'
  %tr
    %td= time(@best_time_5)
    %td= time(@best_time_10)
    %td= time(@best_time_21)
    %td= time(@best_time_42)
    %td= time(@best_time_100)
%h3= t '.graph'
= column_chart @distance_data, width:"300px"
= line_chart @weight_data, width:"300px"
%h3= t '.practice_list'
%table.common-table
  %tr
    %th= t '.day'
    %th= t '.distance'
    %th= t '.time'
    %th= t '.heart_rate'
  - @practices.each do |practice|
    %tr
      %td= practice.day
      %td= distance(practice)
      %td= time(practice)
      %td= practice.heart_rate
%h3= t '.competition_result_list'
%table.common-table
  %tr
    %th= t '.competition_day'
    %th= t '.competition_name'
    %th= t '.competition_place'
    %th= t '.distance'
    %th= t '.time'
    %th= t '.competition_point'
  - @competition_results.each do |result|
    %tr
      %td= result.day
      %td= result.competition_name
      %td= result.competition_place
      %td= distance(result)
      %td= time(result)
      %td= competition_point(result)
%h3= t '.competition_map'
- unless @competition_results.empty?
  #map
  :javascript
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw @map.to_json});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(5);
    });
