%h2= current_user.name + 'さんのページ'
%h3= t '.run_level'
%h3= t '.run_experience'
%h3= t '.get_item_list'
%h3= t '.run_friends_list'
%h3= t '.best_time_list'
%h3= t '.practice_list'
%table.common-table
  %tr
    %th= t '.day'
    %th= t '.distance'
    %th= t '.time'
    %th= t '.heart_rate'
  - @practices.each do |practice|
    %tr
      %td= practice.day
      %td= practice.distance
      %td= practice.minute
      %td= practice.content
%h3= t '.competition_result_list'
%table.common-table
  %tr
    %th= t '.competition_day'
    %th= t '.competition_name'
    %th= t '.competition_place'
    %th= t '.distance'
    %th= t '.time'
    %th= t '.competition_point'
  - @competition_results.each do |result|
    %tr
      %td= result.day
      %td= result.competition_name
      %td= result.competition_place
      %td= result.distance
      %td= result.minute
      %td= result.competition_point
%h3= t '.competition_map'
- unless @competition_results.empty?
  #map
  :javascript
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw @map.to_json});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(5);
    });
