%h2= current_user.name + 'さんのページ'
%h3= t '.run_level'
%h3= t '.run_experience'
%h3= t '.get_item_list'
%h3= t '.run_friends_list'
- @users.each do |user|
  - if current_user.follow?(user)
    = user.name
    = user.avatar
%h3= t '.best_time_list'
%table.common-table
  %tr
    %th= t '.best_time_5'
    %th= t '.best_time_10'
    %th= t '.best_time_21'
    %th= t '.best_time_42'
    %th= t '.best_time_100'
  %tr
    %td= time(@best_time_5)
    %td= time(@best_time_10)
    %td= time(@best_time_21)
    %td= time(@best_time_42)
    %td= time(@best_time_100)
%h3= t '.graph'
= column_chart @distance_data, width:"300px"
= line_chart @weight_data, width:"300px"
%h3= t '.practice_list'
%table.common-table
  %tr
    %th= t '.day'
    %th= t '.distance'
    %th= t '.time'
    %th= t '.heart_rate'
  - @practices.each do |practice|
    %tr
      %td= practice.day
      %td= distance(practice)
      %td= time(practice)
      %td= practice.heart_rate
      /%td= image_tag(practice.practice_photo, size: "50x50")
%h3= t '.competition_result_list'
%table.common-table
  %tr
    %th= t '.competition_day'
    %th= t '.competition_name'
    %th= t '.competition_place'
    %th= t '.distance'
    %th= t '.time'
    %th= t '.competition_point'
  - @competition_results.each do |result|
    %tr
      %td= result.day
      %td= result.competition_name
      %td= result.competition_place
      %td= distance(result)
      %td= time(result)
      %td= competition_point(result)
      /%td= image_tag(result.competition_result_photo, size: "50x50")
%h3= t '.competition_map'
%h5= t '.competition_map_caution'
- unless @competition_results.empty?
  #map
  :javascript
    var mapdata = #{raw @map.to_json};
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(mapdata);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(5);

      $.each(mapdata, function(json, number){
        json.marker = markers[number];
      });

      $.each(mapdata, function(json){
        google.maps.event.addListener(json.marker.getServiceObject(), "click", function() {
          openinfowindow = new google.maps.InfoWindow({
            content: this.serviceObject.infowindow
          });
          openinfowindow.open(this.serviceObject.map, this.serviceObject);
        });
      });
    });
