.pracrice_form
  %h2= t '.title'
  = form_for(@practice) do |f|
    - if @practice.errors.any?
      #error_explanation.alert.alert-danger
        %h2= @practice.errors.count.to_s + "件のエラーがあります。"
        %ul
        - @practice.errors.full_messages.each do |msg|
          %li = msg
    %br/
    .field
      %h4= f.label :"#{t '.practice_day'}"
      = raw sprintf(f.date_select(:day, {start_year: Time.now.year - 1,end_year: Time.now.year, order: [ :year, :month, :day ], use_month_numbers: true, date_separator: '%s'}, {class: "form-control input-lg date_time"}),'年 ', '月 ') + '日'
    = render 'competition_results/form', f:f
    .field
      %h4= f.label :"#{t '.paractice_content'}"
      = f.text_area :content,rows: "5" , class: "form-control input-lg content"
    .field
      %h4= f.label :"#{t '.practice_photo'}"
      = f.file_field :practice_photo
      = f.hidden_field :practice_photo_cache
    .button-field
      = f.submit "#{t '.title'}", class: "btn btn-lg btn_submit"
